body{
    background-color: darkblue;
    font-family: 'HakgyoansimWoojuR';
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}

h1{
    font-family: 'SF_HambakSnow';
    font-size: 64px;
    color: rgb(167, 18, 18);
    text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
}

h3{
    font-family: 'SF_HambakSnow';
    color: rgb(167, 18, 18);
    font-size: 44px;
    text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
}

@font-face { 
    font-family: "ddag";
    src: url("font/ddag.ttf") format("truetype");
    font-weight: normal;
  } 

  @font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF_IceLemon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_IceLemon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}