#qna{
    display: none;
}

.qBox{
    background-color: whitesmoke;
    text-align: center;
    border-radius: 20px;
    font-size: 24px;
    width: 80%;
    font-family: 'SF_IceLemon';
}

.answerList{
    background-color: whitesmoke;
    border-radius: 20px;
    display: block;
    width: 80%;
    border: 0px;
    font-size: 20px;
    font-family: 'SF_IceLemon';
}

.answerList:hover, .answerList:focus{
    background-color: darkred;
    color: whitesmoke;
}

.status{
    height: 20px;
    width: 80%;
    background-color: white;
    border-radius: 20px;
}

.statusBar{
    height: 100%;
    background-color: gold;
    border-radius: 20px;
}

@media screen and (max-width:768px){ 
    .qBox{
        font-size:20px;
    }
}